i { background:url(../images/tubiao.png) no-repeat; display:block; overflow:hidden;}
/*公用*/

.head { width:100%; height:27px; line-height:27px; border-bottom:1px #e5e5e5 solid; background-color:#f2f2f2; }
.head_content { width:1200px; margin:0 auto;}
.head_content a { color:#666666;}
.head_help { display:inline-block; width:61px; padding:0 5px 0 10px; position:relative;}
.head_help i { position:absolute; height:4px; width:7px; background-position:0 -27px; top:12px; right:5px;}
.head_item { width:66px; position:absolute; border:1px #cccccc solid; background-color:#fff; border-top:0; padding:4px 0 0 10px; top:25px; right:-1px; z-index:200; display:none;}
.head_help:hover{ background-color:#fff; border:1px #cccccc solid; border-bottom:0; border-top:0;}
.head_help:hover .head_item  { display:block;}
.head a:hover { color:#fe6809;}
.head_tel { display:inline-block; padding:0 5px 0 20px;; position:relative;}
.head_tel i { position:absolute; width:16px; height:16px; background-position:-100px 0; top:5px; left:0;}
/*头部结束*/

.logo_nav { width:100%;}
.logo_content { width:1200px; height:96px; margin:0 auto; padding-top:20px;}
.logo { margin:25px 300px 0 20px;}
.guarantee a { display:block; width:200px; height:76px; background:url(../images/guarantee.gif) no-repeat; background-position:-80px 0;}
#searchform { margin-top:10px;}
#top_search { width:330px; float:left; margin-left:130px;}
.top_txt { border:2px #90C221 solid; width:247px; height:30px;}
.top_txt input { width:215px; height:30px; line-height:30px; border:0; padding-left:33px; background:url(../images/tubiao.png) no-repeat left center; background-position:5px -349px;}
#sub_search { width:78px; height:34px; line-height:34px; background-color:#90c31f; color:#fff; font-size:14px; font-weight:bold; cursor:pointer; border:0;}
.hot_search { width:330px; height:25px; line-height:25px; color:#999; overflow:hidden;}
.hot_search a { color:#999;}
.hot_search a:hover { color:#fe6809;}
/*logo结束*/

.nav { height:35px; line-height:35px; background-color:#90c31f;}
.nav_content { width:1200px; margin:0 auto;}
.nav_main { width:160px; padding-left:50px; color:#fff; background-color:#6d9d03; position:relative; z-index:1000;}
.nav_main i { width:14px; height:12px; position:absolute; background-position:0 -124px; top:12px; right:35px;}
.category_info { display:block; width:210px; height:320px; position:absolute; top:35px; left:0; z-index:200;}
.category_info li { height:45px; line-height:45px; background-color:#fff; color:#cbcbcb; border-bottom:1px #CCC dotted;}


.item li { float:left; padding:0 35px; font-size:14px; font-weight:bold; cursor:pointer;}
.item li a { color:#fff;}
.item li:hover,.item .select { background-color:#77b001;}










