i { background:url(../images/tubiao.png) no-repeat; display:block; overflow:hidden;}
/*公用*/

.head { width:100%; height:27px; line-height:27px; border-bottom:1px #e5e5e5 solid; background-color:#f2f2f2; }
.head_content { width:1200px; margin:0 auto;}
.head_content a { color:#666666;}
.head_help { display:inline-block; width:61px; padding:0 5px 0 10px; position:relative;}
.head_help i { position:absolute; height:4px; width:7px; background-position:0 -27px; top:12px; right:5px;}
.head_item { width:66px; position:absolute; border:1px #cccccc solid; background-color:#fff; border-top:0; padding:4px 0 0 10px; top:25px; right:-1px; z-index:200; display:none;}
.head_help:hover{ background-color:#fff; border:1px #cccccc solid; border-bottom:0; border-top:0;}
.head_help:hover .head_item  { display:block;}
.head a:hover { color:#fe6809;}
.head_tel { display:inline-block; padding:0 5px 0 20px;; position:relative;}
.head_tel i { position:absolute; width:16px; height:16px; background-position:-100px 0; top:5px; left:0;}
/*头部结束*/

.logo_nav { width:100%;}
.logo_content { width:1200px; height:96px; margin:0 auto; padding-top:20px;}
.logo { margin:25px 300px 0 20px;}
.guarantee a { display:block; width:200px; height:76px; background:url(../images/guarantee.gif) no-repeat; background-position:-80px 0;}
#searchform { margin-top:10px;}
#top_search { width:330px; float:left; margin-left:130px;}
.top_txt { border:2px #90C221 solid; width:247px; height:30px;}
.top_txt input { width:215px; height:30px; line-height:30px; border:0; padding-left:33px; background:url(../images/tubiao.png) no-repeat left center; background-position:5px -349px;}
#sub_search { width:78px; height:34px; line-height:34px; background-color:#90c31f; color:#fff; font-size:14px; font-weight:bold; cursor:pointer; border:0;}
.hot_search { width:330px; height:25px; line-height:25px; color:#999; overflow:hidden;}
.hot_search a { color:#999;}
.hot_search a:hover { color:#fe6809;}
/*logo结束*/

.nav { height:35px; line-height:35px; background-color:#90c31f;}
.nav_content { width:1200px; margin:0 auto;}
.nav_main { width:160px; padding-left:50px; color:#fff; background-color:#6d9d03; position:relative; z-index:1000;}
.nav_main .nav_all { width:14px; height:12px; position:absolute; background-position:0 -124px; top:12px; right:35px;}
.nav_main:hover .category_info { display:block;}
.category_info { display:block; width:210px; height:315px; position:absolute; top:35px; left:0; z-index:200;}
.category_info li { height:44px; line-height:45px; background-color:#fff; color:#cbcbcb; border-bottom:1px #CCC dotted;}
.category_info .list_icon { width:30px; height:30px; overflow:hidden; margin:7px 5px 0 20px;}
.icon_img1 { background-position:0 -414px;}
.icon_img2 { background-position:0 -453px;}
.icon_img3 { background-position:0 -494px;}
.icon_img4 { background-position:0 -531px;}
.icon_img5 { background-position:0 -570px;}
.icon_img6 { background-position:0 -607px;}
.icon_img7 { background-position:0 -644px;}
.category_info span { display:block; float:left; height:45px; line-height:45px; width:105px;}
.category_info span a { color:#666;}
.category_info .hover_hidden { width:6px; height:45px; float:left; background-position:0 -681px;}
.item li { float:left; padding:0 35px; font-size:14px; font-weight:bold; cursor:pointer;}
.item li a { color:#fff;}
.item li:hover,.item .select { background-color:#77b001;}
/*导航结束*/

.wide_banner_bg { height:315px; width:100%; background-color:red;}
.content { width:1200px; height:315px; margin:0 auto;}
.wide_banner { width:760px; height:315px; position:relative; left:210px;}
.wide_banner .pic { width:760px; height:315px; overflow:hidden;}
.wide_banner .pic li a img { display:block; height:315px; width:760px;}
.pic_icon { position:absolute; bottom:8px; left:315px; background-color:#333; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; opacity:0.7; filter: alpha(opacity=50);}
.pic_icon li { float:left; height:12px; width:12px; cursor:pointer; margin:4px; border-radius:20px; background-color:#fff; -moz-border-radius:20px; -webkit-border-radius:20px;}
.pic_icon li.changebg { background-color:#90c221;}
/*轮播图结束*/

.tradeMark { width:1200px; height:111px; margin:20px auto; background-color:#ccc;}
.tradeMark li { float:left; width:100px; height:46px; margin:1px 0 0 1px; background-color:#fff; padding:4px;}
.tradeMark li:hover { background-color:#f4f4f4;}
.tradeMark li a { display:inline-block; height:46px; width:99px; background:url(../images/brand.jpg) no-repeat; background-position:0 0;}
/*商标结束*/

.wide_f_main { margin: 20px auto 0 auto; width:1200px;}
.wide_f_title { float:left; width:100%; border-bottom:3px solid #72b7fc;}
.wide_f_title li { float:left; height:27px; line-height:27px;}
.wide_title { width:210px; font-size:19px; font-weight:normal; line-height:22px; color:#72b7fc;}
.wide_delicacy,.wide_hot { width:475px; color:#666; overflow:hidden; }
.wide_f_title a { color:#666;}
.wide_f_title a:hover { color:#fe6809;}
.wide_more a{ display:block; width:40px;}
.wide_more a i { float:right; margin-top:7px; height:13px; width:13px; background-position:0 -727px;}
.wide_f_left { float:left; height:720px; width:210px; overflow:hidden;}
.wide_f_ban { width:210px; height:360px;}
.infcp_f_left { width:210px; height:360px; overflow:hidden;}
.wide_infcp { position:relative;}
.wide_infcp ul { position:absolute;}
.wide_infcp ul li { float:left;}
.infcp { width:10000px;}
.wide_f_left .infcp_ban { bottom:10px; left:63px;}
.infcp_ban li { float:left; height:5px; width:40px; margin-right:2px; background-color:#666; cursor:pointer; overflow:hidden;}
.infcp_ban li.changebg { background-color:#90c221;}





